<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Gestión de Jugadores</title>
</head>
<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: auto;
        text-align: right;
    }
    #tblList thead{
        background: gray;
        color: #FFF;
        width:100%;
    }
</style>

<body>
<h1>Creación de Jugadores <%=nombre%> <a href="/web/eliminarCookieSeg"><button class="btn btn-success">Salir</button></a></h1>
<br>
<div class="container">
    <form id="frmPerson" class="form-horizontal" action="/api/jugador/crearJugador" method="post">
        <div class="form-group">
            <label for="numeroCamisetaID" class="col-sm-2 control-label">Número Camiseta</label>
            <div class="col-sm-4">
                <input type="number" id="numeroCamisetaID" name="numeroCamiseta" class="form-control" placeholder="Número Camiseta">
            </div>
        </div>
        <div class="form-group">
            <label for="nombreCompletoJugadorId" class="col-lg-2 control-label">Nombre Completo Jugador</label>
            <div class="col-sm-4">
                <input type="text" id="nombreCompletoJugadorId" name="nombreCompletoJugador" class="form-control" placeholder="Nombre Completo Jugador">
            </div>
        </div>
        <div class="form-group">
            <label for="poderEspecialDosId" class="col-lg-2 control-label">Poder Especial Dos</label>
            <div class="col-sm-4">
                <input type="text" id="poderEspecialDosId" name="poderEspecialDos" class="form-control" placeholder="Poder Especial Dos">
            </div>
        </div>
        <div class="form-group">
            <label for="fechaIngresoEquipoId" class="col-lg-2 control-label">Fecha Ingreso Equipo</label>
            <div class="col-sm-4">
                <input type="date" id="fechaIngresoEquipoId" name="fechaIngresoEquipo" class="form-control" placeholder="Fecha Ingreso Equipo">
            </div>
        </div>
        <div class="form-group">
            <label for="golesId" class="col-lg-2 control-label">Goles</label>
            <div class="col-sm-4">
                <input type="number" id="golesId" name="goles" class="form-control" placeholder="Goles">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-sm-4">
                <input type="submit" value="Insertar" id="btnSave" class="btn btn-success"/>
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="col-lg-offset-2 col-sm-0">
            <a href="/api/jugador/jugadores"><button class="btn btn-success">Cancelar</button></a>
        </div>
    </div>
</div>
</body>
</html>
